body {
  margin: 0;
  padding: 0;
}

#canvas {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1d1d1d;
}

noscript {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    font-size: 1.5rem;
    color: #f5f5f5;
  }
}
